<div data-ng-controller="appController" class="container-fluid">
	<h1>Add new Item</h1>
	<form>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Name" data-ng-model="newItem.name">
		</div>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Location" data-ng-model="newItem.location">
		</div>
		<button class="btn btn-primary" data-ng-click="addItem()">Add Item</button>
		<a href="#/" class="btn btn-default">Cancel</a>
	</form>
</div>
