<div data-ng-controller="appController" class="container-fluid">
	<h1>List of Items</h1>
	<form class="form-inline">
		<div class="form-group">
			<input type="text" id="searchName" data-ng-model="searchName" class="form-control" placeholder="Search">
		</div>
	</form>

	<table class="table table-striped">
		<thead>
			<tr>
				<th ng-click="order('name')">
					Name
					<span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>

				</th>
				<th ng-click="order('location')">
					Location
					<span class="sortorder" ng-show="predicate === 'location'" ng-class="{reverse:reverse}"></span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="item in items| filter: searchName">
				<td>{{item.name}}</td><td>{{item.location}}</td></tr>
		</tbody>
	</table>

	<a class="btn btn-primary" href="#/add">Add Item</a>
</div>
